@charset "utf-8";

.Top_arrow { top:0px; position:absolute; z-index:1001; overflow:hidden; }
#P2_Header { width:100%; height:35px; position:relative; background:url(/images/usolver/admin/top/top_bg3.gif) 0 0 repeat-x; }
#P2_Header .Ico { float:left; width:15%; }
#P2_Header .Ico img { padding:6px 0 0 10px;  }
#P2_Header .Close { float:right; width:15%; text-align:right; }
#P2_Header .Close img { padding:9px 8px 0 0; }
#P2_Header .Title { float:left; width:70%; text-align:center; padding:8px 0 0 0; font-weight:bold; font-size:14px; color:#000; }

#P3_Header { width:100%; height:30px; position:relative; background:url(/images/usolver/admin/top/top_bg4.gif) 0 0 repeat-x; }
#P3_Header .Ico { float:left; width:15%; }
#P3_Header .Ico img { padding:4px 0 0 10px;  }
#P3_Header .Close { float:right; width:15%; text-align:right; }
#P3_Header .Close img { padding:6px 8px 0 0; }
#P3_Header .Title { float:left; width:70%; text-align:center; padding:6px 0 0 0; font-weight:bold; font-size:14px; color:#000; }
#P3_Header .Title2 { float:left; width:70%; text-align:center; padding:6px 0 0 50px; font-weight:bold; font-size:14px; color:#000; }



/* 속성조회 */
#W_290Bx { width:290px; height:331px; position:absolute; z-index:1000; }
#W_290 {top:6px; position:absolute; z-index:1000; height:335px; width:290px; overflow:hidden; border:1px solid #000; background-color:#fff; box-sizing:border-box;}
#IcoList { width:100%; position:relative; }
#IcoList li { float:left; width:100%; border-bottom:1px solid #efefef; }
a.IcoM1:link { color:#383838; font-size:11px; width:220px; display:block; padding:15px 0 15px 68px; height:37px; line-height:18px; background:#fff url(/images/usolver/admin/p2_a​tt_ico1.png) 15px 12px no-repeat;letter-spacing:-0.05em;}
a.IcoM1:hover { color:#ffffff; background:#ff5f33 url(/images/usolver/admin/p2_a​tt_ico1_on.png) 15px 12px no-repeat; }
a.IcoM2:link { color:#383838; font-size:11px; width:220px; display:block; padding:15px 0 15px 68px; height:37px; line-height:18px; background:#fff url(/images/usolver/admin/p2_a​tt_ico2.png) 15px 12px no-repeat;letter-spacing:-0.05em;}
a.IcoM2:hover { color:#ffffff; background:#ff5f33 url(/images/usolver/admin/p2_a​tt_ico2_on.png) 15px 12px no-repeat; }
a.IcoM3:link { color:#383838; font-size:11px; width:220px; display:block; padding:10px 0 10px 68px; height:65px; line-height:18px; background:#fff url(/images/usolver/admin/p2_a​tt_ico3.png) 15px 19px no-repeat;letter-spacing:-0.05em;}
a.IcoM3:hover { color:#ffffff; background:#ff5f33 url(/images/usolver/admin/p2_a​tt_ico3_on.png) 15px 19px no-repeat; }
a.IcoM4:link { color:#383838; font-size:11px; width:220px; display:block; padding:10px 0 10px 68px; height:57px; line-height:18px; background:#fff url(/images/usolver/admin/p2_a​tt_ico4.png) 15px 16px no-repeat;letter-spacing:-0.05em;}
a.IcoM4:hover { color:#ffffff; background:#ff5f33 url(/images/usolver/admin/p2_a​tt_ico4_on.png) 15px 16px no-repeat; }

.att_bt	{ top:185px; left:70px; width:160px; height:25px; position:absolute; z-index:1001; overflow:hidden; }
.att_bt	img { padding:0 1px 0 1px; }



#W_440 { width:440px; height:420px; position:absolute; z-index:1000; overflow:hidden; border:1px solid #000; background-color:#fff; box-sizing:border-box; }
#W_440_2 { width:440px; height:470px; position:absolute; z-index:1000; overflow:hidden; border:1px solid #000; background-color:#fff; box-sizing:border-box; }

#TreeBx1 { width:100%; position:absolute; top:30px; left:0px; bottom:0px; right:0px; overflow:hidden;}
#TreeBx1 .Tree_left { top:0px; left:0px; bottom:0px; width:115px; position:absolute; background-color:#efefef; padding:14px 10px 0 10px; }
#TreeBx1 .Tree_left .Tree1 { float:left; width:100%; background:url(/images/usolver/admin/tree_dot1.png) 0 0 repeat-y;}
#TreeBx1 .Tree_left .Tree2 { float:left; width:100%;}
.Tree_Tx1 { float:left; width:100%; height:19px; padding:0 0 2px 0; color:#000; font-weight:bold; }
.Tree_Tx1 img { padding:0 7px 0 0; }
.Tree_Tx2 { float:right; width:120px; height:12px; padding:5px 0px 3px 13px; color:#7f7f7f; background:url(/images/usolver/admin/tree_dot2.png) 0 0 no-repeat; }
.Tree_Tx3 { float:right; width:120px; height:12px; padding:5px 0 3px 13px; color:#7f7f7f; background:url(/images/usolver/admin/tree_dot3.png) 0 0 no-repeat; }
.TreePd { float:left; width:100%; padding:0 0 5px 0; }
.TreeC { color:#fb5605; }


#TreeBx1 .Tree_right { top:0px; right:0; width:275px; bottom:0px; position:absolute; padding:14px 15px 0 0px; }
.TreeBtBx { float:right; padding:10px 0 10px 0; }

.Tree_table									{ float:left; width:100%; height:350px; padding:0 0 5px 0; overflow-x:auto; overflow-y:auto;}
.Table_list2								{ float:left; width:100%; table-layout:fixed; padding:0 0 0px 0; }
.Table_list2 table							{ width:100%; border-bottom:1px #a7a7a7 solid; table-layout: fixed; }
.Table_list2 table th						{ text-align:left; font-weight: bold; padding:5px 5px 5px 13px; line-height:18px; Color:#5f5f5f; background:url("/images/usolver/admin/th_bg.gif") repeat-x;  border-top:1px #a7a7a7 solid; border-left:1px #b3b3b3 solid; border-right:1px #b3b3b3 solid; border-bottom:1px #b3b3b3 solid; vertical-align:middle; letter-spacing:-0.05em;}
.Table_list2 table td						{ border-left:1px #e8e8e8 solid; border-right:1px #e8e8e8 solid; border-bottom:1px #dfdfdf solid; color: #5d5d5d; line-height:18px; padding:5px 5px 5px 13px; text-align:left; vertical-align:middle; letter-spacing:-0.05em;}
.Table_list2 table td.Bg_hover				{ background-color:#fef9e3; border-bottom:1px #f6ca1a solid; color:#f77516; }



/* 위치검색 */
#W_310Bx { width:310px; height:440px; position:absolute; z-index:1000; }
#W_310 {top:6px; position:absolute; z-index:1000; height:434px; width:310px; overflow:hidden; border:1px solid #000; background-color:#fff; box-sizing:border-box; }
#Position { width:100%; position:relative; }
#Position .PBx1 { float:left; width:280px; padding:10px 15px 10px 15px; background-color:#eeeeee; border-bottom:1px solid #cfcfcf; }
#Position .PBx1 .PBx_s1 { float:left; width:100%; padding:5px 0 5px 0; }
#Position .PBx1 .PBx_s1 .InputBx { float:left; width:100%; padding:4px 0 4px 0; }
#Position .BtBx { float:right; padding:10px 5px 10px 0; }
#Position .PBx1 .PBx_s2 { float:left; width:100%; padding:0px 0 0px 0; }
#Position .PBx1 .PBx_s2 dt { float:left; width:160px; color:#919191; font-weight:bold; font-size:11px; }
#Position .PBx1 .PBx_s2 dt span { color:#000000; font-size:14px; }
#Position .PBx1 .PBx_s2 dd { float:right; width:30px; text-align:right; }
#Position .PBx2 { float:left; width:280px; padding:10px 15px 10px 15px; }
#Position .PBx2 ul { float:left; width:100%; height:285px; overflow-y:auto; }
#Position .PBx2 li { float:left; width:100%; padding:7px 0 7px 0; color:#3c3c3c; border-bottom:1px solid #e5e4e4; }

.PTab { float:left; width:100%; height:38px; border-bottom:1px solid #fff; background:url("/images/usolver/admin/p_tab_bg1.gif") repeat-x; }
.PTab li { float:left; }
a.Tab2:link                              { color:#666666; display:block; padding:10px 0 0 0; font-weight:bold; height:28px; text-align:center; width:50px; }
a.Tab2:hover 						    { color:#ff4504;}
a.Tab2:active,a.LeftTab:visited          { color:#666666; display:block; padding:10px 0 0 0; font-weight:bold; height:28px; text-align:center; width:50px; }
a.Tab2_selected:link, a.Tab2_selected:visited { color:#fff; display:block; padding:10px 0 0 0; font-weight:bold; height:28px; text-align:center; width:50px; background:url(/images/usolver/admin/p_tab_bg1_on.gif) center 0 repeat-x;}
a.Tab3:link                              { color:#666666; display:block; padding:10px 0 0 0; font-weight:bold; height:28px; text-align:center; width:75px; }
a.Tab3:hover 						    { color:#ff4504;}
a.Tab3:active,a.LeftTab:visited          { color:#666666; display:block; padding:10px 0 0 0; font-weight:bold; height:28px; text-align:center; width:75px; }
a.Tab3_selected:link, a.Tab2_selected:visited { color:#fff; display:block; padding:10px 0 0 0; font-weight:bold; height:28px; text-align:center; width:75px; background:url(/images/usolver/admin/p_tab_bg1_on.gif) center 0 repeat-x;}

/* 즐겨찾기 */
#W_920Bx { width:920px; height:580px; position:absolute; z-index:1000; }
#W_920 {top:6px; position:absolute; z-index:1000; height:574px; width:920px; overflow:hidden; border:1px solid #000; background-color:#fff; box-sizing:border-box; }
#favorite { width:100%; position:relative; }
#favorite .fav_left { float:left; width:224px; height:538px; border-right:1px solid #dcdcdc; padding:0 10px 0 10px; }
#favorite .fav_left .SearchBx { float:left; width:100%; height:36px; padding:10px 0 10px 0; }
#favorite .fav_left .SearchBx .Search { float:left; width:100%; height:36px; background:url(/images/usolver/admin/p_search_bg.gif) 0 0 no-repeat; }
#favorite .fav_left .SearchBx .Search dt { float:left; width:170px; padding:5px 0 5px 10px; height:26px; }
#favorite .fav_left .SearchBx .Search dt input { border:none; background:none; padding-top:0px; width:175px; height:25px; }
#favorite .fav_left .SearchBx .Search dd { float:right; padding:5px 5px 0 0; text-align:right; }
#favorite .fav_left .TitBx { float:left; width:100%; height:45px; padding:5px 0 0 0; background:url(/images/usolver/admin/p_tit_line.gif) 0 38px no-repeat; }
#favorite .fav_left .TitBx dt { float:left; width:130px; padding:8px 0 0 0; color:#222222; font-weight:bold; font-size:14px; }
#favorite .fav_left .TitBx dd { float:right; width:30px; text-align:right; }
#favorite .fav_left .fav_list { float:left; width:100%; padding:0px 0 0 0; }
#favorite .fav_left .fav_list dl { float:left; width:100%; padding:4px 0 4px 0; border-bottom:1px solid #cbcbcb; }
#favorite .fav_left .fav_list dl dt { float:left; width:120px; padding:5px 0 0 5px; font-size:13px; color:#696969; font-weight:bold; }
#favorite .fav_left .fav_list dl dd { float:right; width:90px; text-align:right; }
#favorite .fav_content { float:right; width:640px; height:508px; padding:15px 20px 15px 0; }
#favorite .fav_content .TitBx { float:left; width:100%; height:45px; background:url(/images/usolver/admin/p_tit_line2.gif) 0 32px no-repeat; }
#favorite .fav_content .TitBx dt { float:left; width:115px; padding:7px 0 0 5px; font-size:14px; font-weight:bold; color:#000; }
#favorite .fav_content .TitBx dd { float:right; }
#favorite .fav_content .ContBx { float:left; width:630px; padding:0 0 0 10px; height:450px; overflow-y:auto;} 
#favorite .fav_content .ContBx .list_pd	{ float:left; width:185px; height:210px; padding:6px 8px 6px 8px; }
#favorite .fav_content .ContBx .list_pd .fav_bx { float:left; width:183px; height:208px; border:1px solid #939393; }
#favorite .fav_content .ContBx .list_pd .fav_bx .fav_imgbg { float:left; width:167px; height:92px; padding:8px; background-color:#f2f2f2; }
#favorite .fav_content .ContBx .list_pd .fav_bx .fav_imgbg .fav_img { float:left; width:165px; height:87px; border:1px solid #9f9f9f; }
#favorite .fav_content .ContBx .list_pd .fav_bx .fav_tx { float:left; width:167px; height:60px; padding:11px 8px 0 8px; }
#favorite .fav_content .ContBx .list_pd .fav_bx .fav_tx dt { float:left; width:100%; padding:0 0 5px 0; font-size:14px; font-weight:bold; color:#242424; }
#favorite .fav_content .ContBx .list_pd .fav_bx .fav_tx dd { float:left; width:100%; padding:0 0 0 0; line-height:16px; font-size:11px; color:#787878; }
#favorite .fav_content .ContBx .list_pd .fav_bx .fav_bt { float:left; width:167px; height:20px; padding:5px 8px 5px 8px; }
#favorite .fav_content .ContBx .list_pd .fav_bx .fav_bt dt { float:left; width:25px; }
#favorite .fav_content .ContBx .list_pd .fav_bx .fav_bt dd { float:right; }


#W_400 { width:400px; height:280px; position:absolute; z-index:1000; overflow:hidden; border:1px solid #000; background-color:#fff; box-sizing:border-box; }
#FavAdd { width:370px; height:238px; position:relative; padding:12px 15px 0 15px; }
#MemoAdd { width:370px; height:238px; position:relative; padding:12px 15px 0 15px; }

#W_460 { width:460px; height:300px; position:absolute; z-index:1000; overflow:hidden; border:1px solid #000; background-color:#fff; box-sizing:border-box; }
#Guide { width:430px; height:250px; position:relative; padding:12px 15px 0 15px; }
#Guide .ImgBx { float:left; width:100%; padding:0 0 15px 0; }


/* 연계 */
#W_350Bx { width:350px; height:570px; position:absolute; z-index:1000; }
#W_350 {top:6px; position:absolute; z-index:1000; height:564px; width:350px; overflow:hidden; border:1px solid #000; background-color:#fff; box-sizing:border-box; }
#Link { width:100%; position:relative; }
#Link .PBx1 { float:left; width:330px; padding:10px 10px 10px 10px; }
#Link .PBx1 .PBx_s1 { float:left; width:100%; padding:0px 0 15px 0; }
#Link .PBx1 .PBx_s1 .Tx01 { float:left; width:130px; font-size:14px; font-weight:bold; color:#212121;}
#Link .PBx1 .PBx_s1 .ListBx { float:right; width:200px; }
#Link .PBx1 .PBx_s1 .Tx02 { float:left; width:100%; font-size:14px; font-weight:bold; color:#212121; padding:0 0 8px 0; }
#Link .PBx1 .PBx_s1 .BgBx { float:left; width:100%; background-color:#f3f2f2; height:160px; }
#Link .PBx1 .PBx_s1 .BgBx .LCon { float:left; width:80px; height:160px; background-color:#e2e2e2; }
#Link .PBx1 .PBx_s1 .BgBx .LCon ul { float:left; padding:10px 0 0 5px;}
#Link .PBx1 .PBx_s1 .BgBx .LCon ul li { float:left; width:75px; padding:3px 0 3px 0; font-weight:bold; color:#383838; letter-spacing:-0.03em; }
#Link .PBx1 .PBx_s1 .BgBx .RCon { float:left; width:236px; padding:10px 7px 0 7px; }
#Link .PBx1 .PBx_s1 .BgBx .RCon .Bx1 { float:left; width:100%; padding:0 0 8px 0; border-bottom:1px solid #c0c0c0; color:#555555; font-weight:bold; letter-spacing:-0.03em;}
#Link .PBx1 .PBx_s1 .BgBx .RCon .Bx2 { float:left; width:100%; padding:8px 0 5px 0; color:#555555; font-weight:bold; letter-spacing:-0.03em;}
#Link .PBx1 .PBx_s1 .BgBx .RCon .Bx3 { float:left; width:100%; padding:0 0 0 0; }
#Link .PBx1 .PBx_s1 .BgBx .RCon .Bx3 .Tx1 { float:left; width:100%; padding:0 0 5px 0; color:#555555; font-weight:bold; letter-spacing:-0.03em;}
#Link .PBx1 .PBx_s1 .BgBx .RCon .Bx3 .Tx2 { float:left; width:100%; padding:0 0 0 0;}
#Link .PBx1 .PBx_s1 .BgBx .RCon .Bx3 .Tx2 dd { float:left; padding:2px 0 2px 0;width:78px;  color:#848484; font-weight:bold; letter-spacing:-0.05em;}
#Link .PBx1 .PBx_s1 .Table { float:left; width:100%; height:103px; overflow-x:hidden; overflow-y:auto;}
#Link .BtBx { float:right; padding:10px 5px 10px 0; }


#W_500 { width:500px; height:370px; position:absolute; z-index:1000; overflow:hidden; border:1px solid #000; background-color:#fff; box-sizing:border-box; }
#theme { width:100%; height:370px; position:relative; padding:0px; }
#theme .Title { float:left; width:100%; height:50px; background-color:#f1f1f0; }
#theme .Title p { float:left; width:70%; line-height:20px; padding:14px 0 0 40px; font-size:18px; font-weight:bold; color:#313131; background:url(/images/usolver/admin/theme_arrow.png) 20px 18px no-repeat; }
#theme .SelectBx { float:left; width:480px; padding:25px 10px 45px 10px; }
#theme .SelectBx .ImgBx { float:left; width:220px; padding:0 10px 0 10px; }
#theme .SelectBx .ImgBx p { float:left; width:100%; height:140px; }
#theme .SelectBx .ImgBx .CheckBx { float:left; width:100%; height:29px; padding:8px 0 0 0; background:url(/images/usolver/admin/theme_bg1.gif) 0 0 repeat-x; text-align:center; font-size:15px; font-weight:bold; color:#fff; }
#theme .SelectBx .ImgBx .CheckBx2 { float:left; width:100%; height:29px; padding:8px 0 0 0; background:url(/images/usolver/admin/theme_bg2.gif) 0 0 repeat-x; text-align:center; font-size:15px; font-weight:bold; color:#fff; }
#theme .BtnBx { float:right; padding:0 20px 0 0; }






/*160704 추가*/

/* Paging */
.PagingBx { float:left; width:100%; padding:15px 0 10px 0; }
.Paging_tx { float:left; width:160px; font-size:11px; padding:0 0 0 0; height:20px; color:#7e7e7e; }
.Paging_tx span { color:#ff5a00; font-weight:bold; }

ul.pages {float:right; }
ul.pages li { float:left; }
ul.pages li img { vertical-align:middle; padding:0 2px 0 2px;}
ul.pages li.pages_tx { padding:0 6px 0 6px; font-weight:bold;}
ul.pages li.pages_tx a:link	{ color:#ff5a00; text-decoration:none; }
ul.pages li.num { padding:0 0.5px 0 0.5px; } 

#W_900 { width:900px; height:713px; position:absolute; z-index:1000; overflow:hidden; border:1px solid #000; background-color:#fff; box-sizing:border-box; }
#W_700 { width:700px; height:460px; position:absolute; z-index:1000; overflow:hidden; border:1px solid #000; background-color:#fff; box-sizing:border-box; }
#admin { width:100%; position:relative; }
#admin .admin_left { float:left; width:180px; height:568px; border-right:1px solid #dcdcdc; padding:0 10px 0 10px; }
#admin .admin_left .TitBx { float:left; width:175px; height:45px; padding:23px 0 0 5px; background:url(/images/usolver/admin/p_tit_line.gif) 0 48px no-repeat; color:#222222; font-weight:bold; font-size:16px;}

#admin .admin_left .menu_list {width:100%; padding:0px 0 0 0; }
#admin .admin_left .menu_list > ul > li { float:left; width:170px;border-bottom:1px dashed #cbcbcb; background:url(/images/usolver/admin/bul_admin_menu.gif) 3px 12px no-repeat;}
#admin .admin_left .menu_list > ul > li > a{color:#666; padding:6px 0 6px 10px; display:block}
#admin .admin_left .menu_list > ul > li > a:hover{color:#186bb7}
#admin .admin_left .menu_list > ul > li.on{border-bottom:1px dashed #186bb7;}
#admin .admin_left .menu_list > ul > li.on > a{color:#186bb7;font-weight:bold}
#admin .admin_left .menu_list > ul > li > ul.depth2 {border-top:1px dashed #186bb7;padding:5px; background:#f3f3f3;}
#admin .admin_left .menu_list > ul > li > ul.depth2 > li { }
#admin .admin_left .menu_list > ul > li > ul.depth2 > li > a {display:block; font-size:12px; color:#767676; padding:4px 0 3px 18px;}
#admin .admin_left .menu_list > ul > li > ul.depth2 > li > a span { }
#admin .admin_left .menu_list > ul > li > ul.depth2 > li > a:hover,
#admin .admin_left .menu_list > ul > li.on > ul.depth2 > li.on > a {display:block; font-size:12px; font-weight:bold; color:#333;}

#admin .admin_content { /* float:right; width:655px; height:538px; padding:15px 20px 15px 20px;position:relative; */ float:left; width:655px; height:538px; padding:15px 20px 15px 20px;position:absolute; margin-left: 200px;}
#admin .admin_content .TitBx {width:645px; height:45px; background:url(/images/usolver/admin/p_tit_line2.gif) 0 32px no-repeat; padding:7px 0 0 10px;font-size:18px; font-weight:bold; color:#186bb7;}
#admin .admin_content .ContBx {width:655px; padding:0 0 0 0px; height:480px; overflow-y:auto;} 
/*TABLE*/

.tblist {width:100%; border-top:1px solid #3a88d1;}
.tblist thead th {color:#3b4459; font-weight:bold; border:1px solid #c4cad2; background-color:#dee8f2;padding:5px 13px} 
.tblist tbody td {color:#666666; text-align:center;border:1px solid #dedfdb; padding:5px 13px}
.tblist tfoot td {background-color:#e2e5ec;padding:7px 3px; color:#333; text-align:center; border-right:1px solid #c4cad2; border-bottom:1px solid #c4cad2;} 
.tbview {width:100%; border-top:1px solid #3a88d1;}
.tbview tbody th {color:#3b4459; font-weight:bold; background-color:#dee8f2; border-right:1px solid #c4cad2;border-left:1px solid #c4cad2;border-bottom:1px solid #c4cad2; padding:5px 5px 5px 13px;text-align:left;}
.tbview tbody td {color:#666666; border-right:1px solid #c4cad2;border-left:1px solid #c4cad2;border-bottom:1px solid #c4cad2;padding:5px 5px 5px 13px;text-align:left;}
.tbview tbody td ul.tdlist li {color:#666666;margin-bottom:5px;line-height:18px}

.tbview2 {width:100%; border-top:1px solid #3a88d1;}
.tbview2 tbody th {color:#3b4459; font-weight:bold; background-color:#dee8f2; border-right:1px solid #c4cad2;border-left:1px solid #c4cad2;border-bottom:1px solid #c4cad2; padding:5px 5px 5px 13px;text-align:center;}
.tbview2 tbody td {color:#666666; border-right:1px solid #c4cad2;border-left:1px solid #c4cad2;border-bottom:1px solid #c4cad2;padding:5px 5px 5px 13px;text-align:right;}
.tbin {width:100%;border:0px;}
.tbin tbody th {color:#3b4459; font-weight:bold; background-color:#dee8f2;border-left:0px solid #c4cad2; border-right:1px solid #c4cad2;border-bottom:1px solid #c4cad2; padding:5px 5px 5px 13px;text-align:center;}
.tbin tbody td {color:#666666; border-right:1px solid #c4cad2;border-left:0px solid #c4cad2;border-bottom:0px solid #c4cad2;padding:5px 5px 5px 13px;text-align:right;}
.brnone2{border-right:none !important;}
.tbview2_tdpad{padding:0px !important;}

a.Btn_blue:link,a.Btn_blue:visited{display:block; float:left; height:14px; line-height:14px; font-weight:bold; padding:7px 14px 8px 14px; cursor:pointer; border-top:1px #3e6590 solid; border-left:1px #3e6590 solid; border-right:1px #274f7a solid; border-bottom:1px #274f7a solid; color:#fff; font-weight:bold; background-color:#4f77a3; letter-spacing:-0.05em;}
a.Btn_blue:hover{background-color:#3e6590;}
a.Btn_sch:link,a.Btn_sch:visited{display:inline-block;vertical-align:middle;border-radius:3px; font-weight:bold; padding:2px 14px 3px 14px; cursor:pointer; border:1px #484848 solid; color:#fff; font-weight:bold; background-color:#606060; letter-spacing:-0.05em;}
a.Btn_sch:hover{background-color:#505050;}
a.Btn_gray2:link,a.Btn_gray2:visited{display:inline-block;vertical-align:middle;border-radius:3px; font-weight:bold; padding:2px 14px 3px 14px; cursor:pointer; border:1px #aaa solid; color:#333; font-weight:bold; background-color:#ddd; letter-spacing:-0.05em;}
a.Btn_gray2:hover{background-color:#ccc;}

.schbx{border:1px solid #ddd; border-radius:3px;background:#f5f5f5;margin-bottom:5px;padding:5px 10px;}
.schbx li{float:left;}
.schbx:after{content:""; clear:both; display:block; visibility: hidden; font-size:0;  height: 0;}

.af:after{content:""; clear:both; display:block; visibility: hidden; font-size:0;  height: 0;}


.layer_pop{border: 2px solid #3e6590;position:absolute;padding:25px 25px 10px;background:#fff;}
.stit{padding-bottom:5px;font-size:14px;font-weight:bold;}
.admintree{}

.bg{background:#f5f5f5;border:1px solid #ddd;padding:10px; width:113px;float:left}
.bg:after{content:""; clear:both; display:block; visibility: hidden; font-size:0;  height: 0;}
.Tree_left .Tree1 { float:left; width:100%; background:url(/images/usolver/admin//tree_dot1.png) 0 0 repeat-y;}
#system { width:100%; height:340px; position:relative; padding:0px; }
#system .Title { float:left; width:100%; height:50px; background-color:#f1f1f0; }
#system .Title p { float:left; width:70%; line-height:20px; padding:14px 0 0 40px; font-size:18px; font-weight:bold; color:#313131; background:url(/images/usolver/admin/theme_arrow.png) 20px 18px no-repeat; }
#system .SelectBx { float:left; width:480px; padding:25px 10px 35px 10px; }
#system .BtnBx { float:right; padding:0 20px 0 0; }
.sysImgBx { float:left; width:140px; padding:0 5px 0 15px; }
.sysImgBx > div{font-size:16px;padding-left:5px;padding-top:15px;font-weight:bold}
.list li{text-align:left;padding:2px 0px;}
.stit2{position:relative;background:url(/images/usolver/admin/bul_arrow.gif) 0 0 no-repeat;padding-bottom:5px;font-size:14px;font-weight:bold;padding-left:20px;}


/*사용자*/

#W_640 { width:640px; height:348px; position:absolute; z-index:1000; overflow:hidden; border:1px solid #000; background-color:#fff; box-sizing:border-box; }
.user_content { margin:15px 20px 15px 20px;position:relative;}

/*TAB*/
.ctab_menu {font-size:14px;margin-bottom:20px;background:url(/images/usolver/admin/bg_tmenu_line.gif) 0 bottom repeat-x;width:100%;}
.ctab_menu li {float:left;padding:0 ;margin:0;}
.ctab_menu li+li{margin-left:-1px;}
.ctab_menu li a {padding:7px 20px;color:#676767;font-weight:bold;display:inline-block;text-align:center;background:#eeeeee;border-right:1px solid #cccccc; border-left:1px solid #cccccc;border-top:1px solid #cccccc; }
.ctab_menu li a:hover,
.ctab_menu li.sel a {color:#fff; background:#3983c1; color:#fff ;border-top:1px solid #3983c1; border-right:1px solid #3983c1; border-left:1px solid #3983c1;border-bottom:1px solid #3983c1;}
.ctab_menu:after{content:""; clear:both; display:block; visibility: hidden; font-size:0;  height: 0;}

.tabcont {width:100%;overflow-y: auto;}
.tab_wrap{}
a.Btn_gray:link,a.Btn_gray:visited{display:inline-block;vertical-align:middle;border-radius:5px; font-weight:bold; padding:9px 19px 10px 19px; cursor:pointer; border:1px #ddd solid; color:#333; font-weight:bold; background-color:#eee; letter-spacing:-0.05em;}
a.Btn_gray:hover{background-color:#ddd;}

.errorBx{margin:35px;}
.errorBxin{background:url(/images/usolver/admin/error_bg.png) 0 0 no-repeat;padding:10px 0 10px 110px;min-height:80px;}
.errorBx h1{font-size:14px; font-weight:bold; color:#ce4212;padding-bottom:10px;}


a.treePlus:link,a.treePlus:visited{background-image:url(/images/usolver/admin/tree_plus.gif);}
a.treePlus:hover{background-image:url(/images/usolver/admin/tree_minus.gif)}


.information { padding:10px; margin:0 auto; font-size:13px; color:#3f8cd4;}


