@charset "utf-8";


/* layout */
#skipnavi {position:relative; z-index:9999;}
#skipnavi a {position:absolute; top:-10000px;}
#skipnavi a:hover, #skipnavi  a:active, #skipnavi a:focus 
{display:block; font-size:1.3em; font-weight:bold; padding:15px; background-color:#fff; border: 3px solid #ededed; position:absolute; top:0px; left:45%;}


/* layout */
#wrap {height:100%;width:100%;min-width:100%;}
#header {height:30px; overflow:hidden;background-color:#fff; border-bottom:1px solid #363a43; }
#footer {height:25px; overflow:hidden; background-color:#080808; -ms-filter: alpha(opacity=30); filter: alpha(opacity=30); opacity:0.3; -moz-opacity:0.3;}
#footer .footer_tx { float:right; text-align:right; padding:4px 20px 0 0; width:200px; color:#ffffff; font-weight:bold; font-size:12px; }

/* header */
#header .headerBx1	{ float:left; width:7%; height:30px; }
#header .headerBx2	{ float:left; width:70%; height:30px; }
#header .headerBx3	{ float:left; width:20%; height:30px; }
#header .headerBx3 .TopIcoBx { float:right; padding:2px 15px 0 0; }
#header .headerBx3 .TopIcoBx li { float:left; padding:0 3px 0 3px;}

.Depth2_Bx1								{ width:917px; height:247px; visibility: hidden; position:absolute; z-index:1000; }
.Depth2_Bx2								{ position:absolute; top:30px; left:0px; width:100%; z-index:1000; }

#Depth_2Bx {top:0px; left:0px; width:915px; height:245px; position:absolute; z-index:1000; overflow:hidden; background:url(/images/usolver/com/cmm/jdesktop/2depth_bg.png) 0 0 repeat-x; border:1px solid #565a61; }
#Depth_2Bx .TabBx1	{ float:left; width:895px; padding:5px 10px 0 10px; }
#Depth_2Bx .TabBx1 ul { float:left; width:100%; height:35px; background:url(/images/usolver/com/cmm/jdesktop/depth2_line.gif) 0 bottom repeat-x;}
#Depth_2Bx .TabBx1 ul li { float:left; }
#Depth_2Bx .TabBx2	{ float:left; width:835px; padding:15px 40px 0 40px; }
#Depth_2Bx .TabBx2 .Bx { float:left; width:100%; padding:0 0 0px 0; }

#Depth_2Bx2 {top:0px; left:0px; width:915px; height:245px; position:absolute; z-index:1000; overflow:hidden; background:url(../images/2depth_bg2.png) 0 0 repeat-x; border:1px solid #565a61; }
#Depth_2Bx2 .TabBx1	{ float:left; width:895px; padding:5px 10px 0 10px; }
#Depth_2Bx2 .TabBx1 ul { float:left; width:100%; height:35px; background:url(/images/usolver/com/cmm/jdesktop/depth2_line2.gif) 0 bottom repeat-x;}
#Depth_2Bx2 .TabBx1 ul li { float:left; }
#Depth_2Bx2 .TabBx2	{ float:left; width:835px; padding:15px 40px 0 40px; }
#Depth_2Bx2 .TabBx2 .Bx { float:left; width:100%; padding:0 0 0px 0; }

.D2_IcoBx { float:left; width:64px; padding:0 13px 10px 13px; }
a.D2_TabM:link { color:#b9bdc6; font-weight:bold; font-size:14px; display:block; text-align:center; padding:6px 39px 0px 39px; height:27px; }
a.D2_TabM:hover { color:#fff;}
a.D2_TabM:active,a.D2_TabM:visited {color:#b9bdc6; font-weight:bold; font-size:14px; display:block; text-align:center; padding:6px 39px 0px 39px; height:27px; }
a.D2_TabM_selected:link, a.D2_TabM_selected:visited { color:#fff; font-weight:bold; font-size:14px; display:block; text-align:center; padding:6px 39px 0px 39px; height:27px; background:url(/images/usolver/com/cmm/jdesktop/depth2_arrow.png) center 0 no-repeat;}


.loginBx{ background:url(/images/usolver/com/cmm/login/bg_login.jpg) center center no-repeat ;min-height:600px;}
.loginBx:after {content:""; clear:both; display:block; visibility:hidden; font-size:0; height:0;}
.loginInbx{width:1200px;margin:0 auto;}
.loginInbx:after{content:""; clear:both; display:block; visibility:hidden; font-size:0; height:0;}
.loginContbx{float:left;width:600px;position:relative;}

#hero-slider {text-align:left;margin-top:30px;}
#hero-slider .mask { float:left; width:450px; height:500px;	margin:15px 0 0 10px; overflow:hidden;}
#hero-slider .panel { width:450px; height:500px; text-align:left;}
#hero-slider > ul {margin-right:50px; list-style:none; float:left;}
#hero-slider > ul li {margin:50px 0;}
#hero-slider > ul a {	display:block;	width:70px; height:70px;}
.bg1{background:url(/images/usolver/com/cmm/login/tab01.png);background-position:0px 0px;}
.bg2{background:url(/images/usolver/com/cmm/login/tab02.png);background-position:0px 0px;}
.bg3{background:url(/images/usolver/com/cmm/login/tab03.png);background-position:0px 0px;}
.active{background-position:-70px 0px !important;}
.panel h2 {	padding: 15px 0 15px 0;	color:#0058a9;font-size:24px}
.panel > p {color:#666;font-size:14px;padding-bottom:15px;}
.clear {clear:both}


dl{border:3px solid #5e8ac0;border-radius:3px;background:#5e8ac0;}
dt{
	line-height:31px;font-size:14px;text-indent:10px;font-weight:bold;color:#Fff;height:31px;
	background:url(/images/usolver/com/cmm/login/acc.png) right 11px no-repeat; /* background image */
	border-bottom:1px solid #3a6da5;
}
dt > span{color:#c8d4e6;font-size:12px;font-weight:normal;float:right;margin-right:30px}
dt.over{
	background:url(/images/usolver/com/cmm/login/acc.png) right 11px no-repeat; /* background-over.jpg */
	color:#fff693;
	cursor:pointer;
}
dt.selected{
	background:url(/images/usolver/com/cmm/login/acc_on.png) right 11px no-repeat; /* background_selected.jpg */
	color:#fff;
	cursor:default;
}
dd{	height:240px;background:#3a6da5;overflow:hidden;overflow-x:auto;overflow-y:auto;}
dd > div{ color:#fff !important;padding:10px;}

.blueBx{border:3px solid #5e8ac0;border-radius:3px;background:#5e8ac0;}
.blueBx h4{line-height:31px;font-size:14px;font-weight:bold;color:#Fff;height:31px;text-align:center}
.blueInbx{	height:145px;background:#3a6da5;overflow:hidden;overflow-x:auto;overflow-y:auto;padding:10px}
.mt10{margin-top:10px}
.blueInbx > ul > li{margin-bottom:5px}
.blueInbx > ul > li > label {color:#fff;width:100px;text-align:right;display:inline-block;font-size:15px;}
.blueInbx > ul > li > input,
.blueInbx > ul > li > select{border:1px solid #123c6a;background:#5e8ac0;color:#fff;height:26px;margin-left:10px}
.blueInbx > ul > li > data {color:#fff;text-align:left;display:inline-block;font-size:12px;}

.darkblueBtn{font-size:16px;font-weight:bold;}
.darkblueBtn a{color:#fff;background:#123c6a;padding:10px 30px;border:1px solid #123c6a;border-radius:3px;}
.darkblueBtn a:hover{color:#fff;background:#ff6600;}

.sysic01{position:absolute;top:43px;left:230px;}
.sysic02{position:absolute;top:80px;left:160px;}
.sysic03{position:absolute;top:130px;left:105px;}
.sysic04{position:absolute;top:194px;left:64px;}
#sysbx1,#sysbx2,#sysbx3,#sysbx4{position:absolute;top:200px;left:188px;text-align:center}

.sysloginBg{background:url(/images/usolver/com/cmm/login/bg_syslogin.png) right bottom no-repeat;min-height:585px;}
.img-swap{position:absolute;top:0;left:0}
#sys2_on,#sys3_on,#sys4_on,#sysbx2,#sysbx3,#sysbx4{display: none;}

.loginfrom{margin-top:50px;width:337px;text-align:left}
.loginfrom li{margin-bottom:3px;}
.ilogin{border:1px solid #cccccc;color:#4d4d4d; padding:0 3px; font-size:11px; line-height:34px; height:34px;width:180px;}


#content .FavoriteBx { top:0px; right:0px; bottom:0px; width:154px; height:100%; position:absolute; z-index:1000; overflow:hidden; padding:0px 0 0 0px;}
#content .FavoriteBx .FavoriteTit { float:left; width:100%; height:40px; padding:0 0 0px 0; background:none;}
#content .FavoriteBx .FavoriteCon  { top:40px; right:0px; bottom:0px; width:144px; position:absolute; overflow:hidden; padding:0px 0 0 10px; background:url(/images/usolver/com/cmm/jdesktop/favorite_bg.png) 0 0 repeat-y;}
#footer {left:0px;right:0; height:25px; position:absolute; z-index:0; overflow:hidden; background-color:#080808; -ms-filter: alpha(opacity=30); filter: alpha(opacity=30); opacity:0.3; -moz-opacity:0.3;}